@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap ');


@tailwind base;
@tailwind components;
@tailwind utilities;

 
 :root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: "Dosis", sans-serif; font-optical-sizing : auto; */
  font-family: "Roboto Mono", monospace; 
  line-height: 1.5;
  font-weight: 400;
  
 }
 /* body{

  transition: all 7s ease;
 } */
.bg{
  transition: all 3s ease;
}
 .bodyBg{
  --tw-bg-opacity: 1;
  background-color: rgb(26 32 44 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(226 232 240 / var(--tw-text-opacity));
 }
.lgBg{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity));
}


.darkMode {
  --bg-color: #1a202c;
  --text-color: #e2e8f0;
  --layer-color: #2d3748;
 font-family: Georgia, 'Times New Roman', Times, serif;
 
}

.lightMode {
  --bg-color: #ffffff;
  --text-color: #333333;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.darkMode {
  background-color: var(--bg-color);
  color: var(--text-color);
}

 html{
  scroll-behavior: smooth;
 }

 .Menu {
  position: absolute;
  z-index: 300;
  opacity: 0;
  transition: all 1.5s ease;
 }
 .openMenu{
  top: 5rem;
  opacity: 1;
  position: absolute;
  padding: 2.5rem;
   
  right: 0;
  left: 0;
 
 }
 .darkbg{
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
 }
 
 .lightbg{
   
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}

  
.project{
  
  box-shadow:
  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075)
;
}
/* .img{
  box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
} */

.purp{
     --tw-text-opacity: 1;
    color: rgb(240 171 252 / var(--tw-text-opacity));

}
.blue{
  --tw-text-opacity: 1;
  color: rgb(14 165 233 / var(--tw-text-opacity));
}